<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562889962588-46iubc2cqlcfv1r4lirn47v28rkqgt9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562889962588-46iubc2cqlcfv1r4lirn47v28rkqgt9m</string>
	<key>API_KEY</key>
	<string>AIzaSyAs0Msg-LunYhDOQTQDwcr-hbXRAXxjw2c</string>
	<key>GCM_SENDER_ID</key>
	<string>562889962588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>autenticacao-teste-3af55</string>
	<key>STORAGE_BUCKET</key>
	<string>autenticacao-teste-3af55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562889962588:ios:4087963608d2648e79e299</string>
</dict>
</plist>